html,body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto (-$footer-size);
}

#push {
  height: $footer-size;
  clear: both;
}
footer#footer {
  height: $footer-size;
}
