//
// Basic Colors
// ---------------------------
$black: black;
$white: white;
$red: red;
$green: green;
$orange: orange;
$purple: purple;



//
//	Website Colors
// ---------------------------

//$primary-color:;
//$secondary-color:;
//$tertiary-color:;

//$cta-color:;