!!!
%html 
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title
    %meta{:content => "", :name => "description"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    %link{:href => "styles/main.css", :rel => "stylesheet"}/
  %body
    #wrap 
      -# ^ Sticky Footer Wrapper
      %header.l-header.m-header

      .container.l-content.m-content
        .row-fluid
          .span6.offset3.well
            %h1 Prototyping like a boss.
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam quaerat qui perspiciatis corporis unde nam esse reiciendis doloribus odit officiis eos tempore consequuntur quibusdam. Nesciunt nihil assumenda cumque dolor ad.

      #push 
        -# ^ Sticky Footer Push

    %footer#footer.l-footer.m-footer
      .container
        .row-fluid

